<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
  </div>
  <div class="headings">
    <h2>Fisitor API</h2>
    <h3>By Fisitor</h3>
  </div>
</header>


<%- include('partials/footer'); -%>